@model Homework.Models.MoneyAddViewModels

@{
    ViewBag.Title = "MoneyAdd";
}

<h2>我的記帳本</h2>

@*使用圖片測試ajax，新增時scrollbar不會因重新載入拉到最上面
<img src="~/image/TEST.JPG" alt="Car View" >*@

@*@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "formAll" }))*@
@using (Ajax.BeginForm("Add", new { controller = "Money", Route = "" }, new AjaxOptions { UpdateTargetId = "list" }))
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal container well">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Category, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.Category, new { htmlAttributes = new { @class = "form-control" } })*@
                @*@Html.DropDownListFor(model => model.Category, new SelectList(
                    new List<Object>{
                       new { value = "Income" , text = "收入"  },
                       new { value = "Expense" , text = "支出" }
                    }, "value", "text") , "請選擇"
                    , new { @class = "form-control" })*@
                @*@Html.DropDownListFor(model => model.Category, Model.CategoryValues , "請選擇", new { @class = "form-control" })*@
                @Html.DropDownListFor(model => model.Category, ViewData["CategoryList"] as SelectList, "請選擇", new { @class = "form-control" })
                @*@Html.DropDownListFor(model => model.Category, (IEnumerable<SelectListItem>)ViewData["CategoryList"] , "請選擇", new { @class = "form-control" })*@
                @Html.ValidationMessageFor(model => model.Category, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("金額", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Amount, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Amount, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("日期", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.BillingDate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.BillingDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("備註", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Memo, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Memo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input id="btnAdd" type="submit" value="新增" class="btn btn-primary btn-sm" />
            </div>
        </div>
    </div>
}

    <div id="list">
        @Html.Action("List", "Money")
    </div>

@section Scripts {
@Scripts.Render("~/bundles/jqueryval")
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script>
        $(function () {
            $("[data-datetimepicker]").datetimepicker();
        });
    </script>

<script>

    //WayA1();  //ajax 使用 $(this).submit 的寫法 (按鈕需是type="submit")
    //WayA2();  //ajax 使用 $(this).submit 的寫法 (按鈕需是type="submit")
    //WayB1();  //ajax 使用 $(this).submit 和 $.ajax 的寫法 (按鈕需是type="submit"
    //WayC1();  //ajax 使用 $("#btnAdd").click 按鈕ID的寫法 (按鈕需是type="button")
    //WayC2();    //ajax 使用 $("#btnAdd").click 並指定btnID和formID的寫法 (按鈕需是type="button")

    function WayA1() {  //ajax 使用 $(this).submit 的寫法 (按鈕需是type="submit")
        alert('WayA1');
        $(this).submit(function () {
            $.post("@Url.Action("Add","Money")", $("form").serialize()
                , function (data) { $("#list").html(data); });
            return false; // prevent normal submit
        });
    }

    function WayA2() {  //ajax 使用 $(this).submit 的寫法 (按鈕需是type="submit")
        alert('WayA2');
        $(this).submit(function () {
            $.post($(this).attr("action"), $("form").serialize()
                , function (data) { $("#list").html(data); });
            return false; // prevent normal submit
        });
    }

    function WayB1() {  //ajax 使用 $(this).submit 和 $.ajax 的寫法 (按鈕需是type="submit")
        alert('WayB1');
        $(this).submit(function () {
            $.ajax({
                url: "@Url.Action("Add","Money")",
                type: "post",
                data: $("form").serialize(),
                success: function (data) { $("#list").html(data); }
            });
            return false; // prevent normal submit
        });
    }

    function WayC1() {  //ajax 使用 $("#btnAdd").click 按鈕ID的寫法 (按鈕需是type="button")
        alert('WayC1');
        $("#btnAdd").click(function (e) {
            //e.preventDefault();
            if ($(this).valid()) {
                $.ajax({
                    url: "@Url.Action("Add","Money")",
                    type: "post",
                    data: $(this.form).serialize(),
                    success: function (result) { $("#list").html(result); }
                });
            }
            //return false; // prevent normal submit 加入此指令則點選沒反應
        });
    }

    function WayC2() {  //ajax 使用 $("#btnAdd").click 並指定btnID和formID的寫法 (按鈕需是type="button")
        alert('WayC2');
        $("#btnAdd").click(function (e) {
            //e.preventDefault();
            if ($(this).valid()) {
                $.ajax({
                    url: "@Url.Action("Add","Money")",
                    type: "post",
                    data: $("#formAll").serialize(),
                    success: function (result) { $("#list").html(result); }
                });
            }
            //return false; // prevent normal submit 加入此指令則點選沒反應
        });
    }

</script>

}

