@model Homework.Models.MoneyAddViewModels

@{
    ViewBag.Title = "Detail";
}

<div>
    <h4>我的記事本 > 明細</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Category)
        </dt>

        <dd>
            @*@Html.DisplayFor(model => model.Category)*@
            @MyHelper.CategoryDisplay(@Model.Category)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BillingDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BillingDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Memo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Memo)
        </dd>
    </dl>
</div>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |*@
    @Html.ActionLink("Back to List", "Add")
</p>
