@model IEnumerable<Homework.Models.MoneyListViewModels>

@{
    ViewBag.Title = "MoneyList";
    Layout = null;
}

@*<h2>MoneyList</h2>*@

<p>
    @*@Html.ActionLink("Create New", "Create")*@
</p>
@{
    var i = 0;
    var Categorylist = ViewData["CategoryList"] as SelectList;
    //@Categorylist.Where(c => c.Value == "0").FirstOrDefault().Text
}
<table class="table table-bordered table-hover">
    <tr>
        <th>#</th>
        <th>
            @Html.DisplayNameFor(model => model.Category)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BillingDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th></th>
    </tr>
@foreach (var item in Model)
{
    <tr>
        <td>
            @(++i)
        </td>
        <td>
            @*@Html.DisplayFor(modelItem => item.Category)*@
            @*@Html.Raw(item.Category.ToString())*@
            @*@Html.Raw(Categorylist.Where(c => c.Value == item.Category.ToString()).FirstOrDefault().Text)*@
            @MyHelper.CategoryDisplay(item.Category)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BillingDate)
        </td>
        <td align="right">
            @Html.DisplayFor(modelItem => item.Amount)
        </td>
        <td>
            @*@Html.DisplayFor(modelItem => item.Id)*@
            @Html.ActionLink("明細", "Detail", new { Id = item.Id }) |
            @Html.ActionLink("編輯", "Edit", new { Id=item.Id }) |
            @Html.ActionLink("刪除", "Delete", new { Id = item.Id })
        </td>
    </tr>
}

</table>
